
/.idea/
**/.DS_Store

Enoteca- 2^ assegnamento ingegneria del software/.idea/

Enoteca- 2^ assegnamento ingegneria del software/target/

Enoteca- 2^ assegnamento ingegneria del software/output.log

Enoteca- 2^ assegnamento ingegneria del software/out/
